<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Netflix</title>
    </head>
    <body>
        <div class="hello" th:each="episode : ${episodes}">
            <table style="width:100%">
                <tr>
                    <th>Title</th>
                    <th>Decription</th>
                    <th>RunTime</th>
                </tr>
                <tr>
                    <td th:text="${episode.getTitle()}"></td>
                    <td th:text="${episode.getDescription()}">Smith</td>
                    <td th:text="${episode.getRuntime()}">50</td>
                </tr>
            </table>
        </div>
        <form class="example" action="search">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </body>
</html>