<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <form action="/login" method="post">
            <div class="container">
                <h2>Register</h2>
                <p>Please fill in this form to create an account.</p>
                <hr>
                <label for="register_email"><b>Email</b></label><br>
                <input id="register_email" type="text" placeholder="Enter Email" name="register_email" required><br><br>
                <label for="register_password"><b>Password</b></label><br>
                <input id="register_password" type="password" placeholder="Enter Password" name="register_password" required><br><br>
                <label for="password_confirm"><b>Confirm Password</b></label><br>
                <input id="password_confirm" type="password" placeholder="Confirm Password" name="password_confirm" required>
                <hr>
                <button type="submit" class="register_button">Register</button>
            </div>
        </form>
        <br>
        <br>
        <form action="/login" method="post">
            <div class="container">
                <h2>Login</h2>
                <p>Please fill in this form to login</p>
                <hr>
                <label for="login_email"><b>Email</b></label><br>
                <input id="login_email" type="text" placeholder="Enter Email" name="login_email" required><br><br>
                <label for="login_password"><b>Password</b></label><br>
                <input id="login_password" type="password" placeholder="Enter Password" name="login_password" required>
                <hr>
                <button type="submit" class="login_button">Login</button>
            </div>
        </form>
    </body>
</html>